{% extends 'base_backend.html.twig' %}

{% block title %}Service Categories{% endblock %}

{% block body %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        List Service Categories
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="{{ path('backend') }}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Service Categories</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-list"></i> Table
                            </h3>
                            <div class="card-tools">
                                <a
                                    href="{{ path('xservice_category_new') }}"
                                    class="btn btn-block btn-success btn-sm">
                                    <i class="fa fa-plus"></i> Create new
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">Id</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for xservice_category in xservice_categories %}
                                        <tr>
                                            <td>
                                                <span class="badge bg-primary">
                                                    {{ xservice_category.id }}
                                                </span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-xs">
                                                    {{ xservice_category.code }}
                                                </button>
                                            </td>
                                            <td>{{ xservice_category.name }}</td>
                                            <td>
                                                <a
                                                    href="{{ path('xservice_category_show', {'id': xservice_category.id}) }}"
                                                    class="btn btn-info btn-xs">
                                                    <i class="fa fa-eye"></i> show
                                                </a>
                                                <a
                                                    href="{{ path('xservice_category_edit', {'id': xservice_category.id}) }}"
                                                    class="btn btn-warning btn-xs">
                                                    <i class="fa fa-pencil"></i> edit
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">no records found</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer clearfix">
                            {#
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                            #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
